Source: libzfm
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Section: libs
Priority: extra
Standards-Version: 3.9.6
Build-Depends: lazarus, debhelper (>= 9)
Homepage: http://www.pm-codeworks.de/zfmsdk.html
#Vcs-Git: git://github.com/philippmeisberger/zfmsdk.git

Package: libzfm
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Library for using various ZhianTec fingerprint modules (ZFM)
 The 'libzfm' library implements functions to manage ZhianTec fingerprint
 modules.
 .
 This package contains the shared library.

Package: libzfm-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: libzfm (= ${binary:Version}), ${misc:Depends}
Description: Library for using various ZhianTec fingerprint modules (ZFM)
 The 'libzfm' library implements functions to manage ZhianTec fingerprint
 modules.
 .
 This package contains the development files.
